<nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="logo" href="#">
            <img src="assets/logo2.png" class="img-fluid" width="200px"></a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item" routerLinkActive="active">
            <a href="/dashboard/home" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item" routerLinkActive="active">
            <a routerLink="/dashboard/recetas" class="nav-link">Receta</a>
        </li>
        <li class="nav-list-item" routerLinkActive="active">
            <a routerLink="/dashboard/nutricionistas" class="nav-link">Nutricionista</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Works</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

</nav>