<div class="container mt-5  row d-flex justify-content-center" >
    <div>
        <button class="btn btn-success btn-xs pull-right btn-lg">
          Añadir Receta
        </button>
      </div>

      

  <table class="table table-striped custab">
      
  <thead class="thead-dark">
      <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th class="text-center">Action</th>
      </tr>
  </thead>
          <tr>
              <td>1</td>
              <td>Dieta Saludable para Niños de 7- 10 años</td>
              <td>Proteínas, Frutas, Verduras, Granos, Lácteos,...</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Detalle</a><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
          <tr>
              <td>2</td>
              <td>Dieta Saludable para Bebés de 6 meses a 2 años</td>
              <td>Leche materna, cereal a medida que el bebé aprenda...</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Detalle</a><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
          <tr>
              <td>3</td>
              <td>Alimentación para adolescentes</td>
              <td>Comer sano es una parte importante de un estilo de ...</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Detalle</a><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
  </table>
</div>