<div class="container mt-5  row d-flex justify-content-center" >
    <div>
        <button class="btn btn-success btn-xs pull-right btn-lg">
          Añadir Nutricionista
        </button>
      </div>

      

  <table class="table table-striped custab">
      
  <thead class="thead-dark">
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th class="text-center">Action</th>
      </tr>
  </thead>
          <tr>
              <td>1</td>
              <td>Junior Mendez Lezcano</td>
              <td>mendez@gmail.com</td>
              <td>957556509</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
          <tr>
              <td>2</td>
              <td>Manuel Sanchez</td>
              <td>sanchez@gmail.com</td>
              <td>934556890</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
          <tr>
              <td>3</td>
              <td>Diego Vilca</td>
              <td>vilca@gmail.com</td>
              <td>956788904</td>
              <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
          </tr>
  </table>
</div>